body {
  background: #00fbe8;
}

.Signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(176deg, #2a4669, #00fbe8, #00fbe8);
}

.signup-form {
  background-color: #243b55;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 30%;
  margin: 0 10px;
}

form{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
  position: relative;
    color: red;
    font-size: 12px;
    /* z-index: 1000000000; */
    top: -58px;
    /* left: -48px; */
    right: 0px;
    /* background: red; */
    padding: 2px 5px;
}

.signup-form h2 {
  color: #2a4669;
  margin-bottom: 20px;
  background: #00fbe8;
  width: 200px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: -56px;
}

.input-container {
  margin-bottom: 20px;
  /* width: 100%; */
  width: 90%;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  background-color: #3c4a63;
  color: #fff;
  font-size: 16px;
  display: flex;
}

/* .input-container {
  margin-bottom: 20px;
} */

/* .input-container input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.input-container input {
  width: 100%;
  padding: 6px 5px;
  border: none;
  border-radius: 5px;
  background-color: #3c4a63;
  color: #fff;
  font-size: 17px;
  outline: none;
}

.input-container input::placeholder {
  color: #bbb;
}

.logoInput{
  border-right: 1px solid;
  padding: 0px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #00fbe8;
    color: #2a4669;
    padding: 18px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 94%;
}

button:hover {
  background-color: #30c2b5;
}








.circle {
  /* display: inline-block; */
  display: flex;
  margin: -38px auto 20px auto;
  background-color: #8C92AD;
  width: 110px;
  height: 110px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.circle-inner {
  background-color: #3c4a63;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.signup-button {
  background-color: #00fbe8;
  color:black;
  border: 1px solid #00fbe8;
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  width: 90%;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #00fbe8;
  color: #2a4669;
}

.orText{
  margin-top:4px;
  color:white;
}