body {
  background: #00fbe8;
}

.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(176deg, #2a4669, #00fbe8, #00fbe8);
}

.signup-form {
  background-color: #243b55;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 25%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.signup-form h2 {
  color: #2a4669;
  margin-bottom: 15px;
  background: #00fbe8;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: -30px;
}

.input-container {
  margin-bottom: 15px;
  width: 90%;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #3c4a63;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.input-container input::placeholder {
  color: #bbb;
}

.logoInput {
  border-right: 1px solid;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

button {
  background-color: #00fbe8;
  color: #2a4669;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 90%;
  margin-top: 10px;
}

button:hover {
  background-color: #30c2b5;
}

.login-button {
  background-color: #00fbe8;
  color: black;
  border: 1px solid #00fbe8;
  margin-top: 10px;
  width: 90%;
}

.login-button:hover {
  background-color: #00fbe8;
  color: #2a4669;
}
.orText{
  margin-top:4px;
  color:white;
}
